body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.42;
}
p,
h3 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}
